<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-umbrella  fa-fw me-1"></i> LuftBorn Task</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <ng-container >
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/books"
              routerLinkActive="active"
              >Books</a
            >
          </li>
        </ng-container>
      </ul>


     
    </div>
  </div>
</nav>
